.bg-primary {
    background-image: url('../img/header.png');
    background-size: 60%;
}

header.masthead {
    padding-bottom: 0;
}

.social {
  max-height: 64px;
  max-width: 64px;
  width: 64px;
  height: 64px;
  margin: 20px;
}

.social-divider {
  border-top: 1px solid white;
}

.footer {
  padding-bottom: 0;
}

.skyline {
  width: 100%;
}

.navbar-logo {
  width:110px;
}

.social:hover {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1;
  -ms-transition: 1;
  -o-transition: 1;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}


.text-cursor {
  font-weight: 500;
  font-size: 100px;
  color: #2E3D48;
}

hr.star-light:after {
  color: #fff;
  background-color: #2d3e4f;
}