.bg-primary {
    background-image: url('../img/header.jpg');
    background-size: 100%;
}

.bg-grey {
  background-color: #9badbe;
}

.courtdev {
  padding: 60px;
}

.call-to-action {
  position: relative;
  bottom: 20px;
  border-radius: 40px !important;
}

.tx-grey {
  color: #949494;
}

.tx-orange {
  color: #e55645;
}

.tx-yellow {
  color: #e29100;
}

.agenda-icon {
  padding: 12px;
}

.blue-star {
  border-color: #2c3e50 !important;
}

.address {
  margin: 0;
}

.register {
  background-color: #2c3e50;
  color:white;
}

.social {
  max-height: 64px;
  max-width: 64px;
  width: 64px;
  height: 64px;
  margin: 20px;
}

.divider {
  border-top: 1px solid white;
}

.divider-dark {
  border-top: 1px solid #2c3e50;
}

.dark-blue {
  color: #2c3e50;
}

.footer {
  padding-bottom: 0;
}

.skyline {
  width: 100%;
}

.parking {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
  box-shadow: 10px black;
  box-shadow: 5px 10px 18px #2c3e50;
}

.navbar-logo {
  width:110px;
}

.social:hover {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1;
  -ms-transition: 1;
  -o-transition: 1;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}


.text-cursor {
  font-weight: 500;
  font-size: 100px;
  color: #2E3D48;
}

hr.star-light:after {
  color: #fff;
  background-color: #2d3e4f;
}

.secondary-text {
  font-size: 24px;
  color: #343a40;
  font-weight: 300;
}

/* Timer */
.primary-counter {
  font-family: Arial, sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
}
.primary-counter span {
  font-size: 60px;
  margin: 0 3px 0 15px;
}
.primary-counter span:first-child {
  margin-left: 0;
}
.counter-yellow {
  color: #a9892b;
}
.counter-blue {
  color: #2c3e50;
}
.counter-div {
  padding: 60px;
}


