<!DOCTYPE html>
<html lang="en" ng-app="courtDev">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <title>CourtDEV | California Courts Developer Meetup</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/freelancer.min.css" rel="stylesheet">
  <link href="css/override.css" rel="stylesheet">

</head>

<body id="page-top" ng-controller="splashController as vm">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">CourtDEV</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#page-top">HOME</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">ABOUT</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#agenda">AGENDA</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#register">REGISTER</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
      <h2>DATE</h2>
      <h5 style="color:#6dd7f1;">MAY 4TH, 2018</h5>
      <h2>LOCATION</h2>
      <h5 style="color:#6dd7f1;">Santa Clara Court</h5> 
      <h5 style="color:#6dd7f1;">Judicial Conference Room </h5>
      <h5 style="color:#6dd7f1;">Family Justice Center Courthouse</h5>
      <h5 style="color:#6dd7f1;">201 North 1st Street</h5>
      <h5 style="color:#6dd7f1;">San Jose, CA 95113</h5>
      <hr class="star-light">

    </div>
  </header>

  <section class="about" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase">About</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-12 ml-auto">
          <p class="lead">Our purpose is to promote collaboration between the software developer and programmers within the California Courts.
            Our goal is to improve the software development process through discussing, brainstorming and sharing experiences.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary text-white mb-0" id="agenda">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">Agenda</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-12 ml-auto">
          <p class="lead" style="text-align:center;">

            10:00 AM - Introductions
            <br> 10:30 AM - State of Development
            <br> 11:15 AM - Round Table Sharing
            <br> 12:00 PM - Lunch
            <br> 12:30 PM - Development Innovation Showcase (10-20 mins)
            <br> 03:00 PM - End of Meetup
          
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="about" id="register">
    <div class="container">
      <h2 class="text-center text-uppercase">Register</h2>
      <hr class="star-light mb-5">
      <div class="row">

        <div class="col-lg-3 ml-auto">
        </div>

        <div class="col-lg-6 ml-auto">

          <form ng-if="false">

            <div class="form-group">
              <label for="name">Full Name</label>
              <input type="text" class="form-control form-control-lg" ng-model="vm.registerForm.name" id="name" placeholder="Full Name">
            </div>

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control form-control-lg" ng-model="vm.registerForm.email" id="email" placeholder="Enter email">
            </div>

            <div class="form-group">
              <label for="phoneNumber">Phone number</label>
              <input type="text" class="form-control form-control-lg" ng-model="vm.registerForm.phoneNumber" id="email" placeholder="Enter Phone Number">
            </div>

            <div class="form-group">
              <label for="court">Your Court</label>
              <select class="form-control form-control-lg" ng-model="vm.registerForm.court" id="court">
                <option>Santa Clara</option>
                <option>Los Angeles</option>
                <option>Orange</option>
                <option>Monterey</option>
                <option>San Benito</option>
              </select>
            </div>

            <div class="form-group">
              <label for="role">Job Role</label>
              <select class="form-control form-control-lg" ng-model="vm.registerForm.role" id="role">
                <option>Developer</option>
                <option>Manager/Supervisor</option>
                <option>CIO/Director</option>
                <option>Judical Officer</option>
                <option>DBA</option>
                <option>Business Analyst</option>
                <option>Not Listed</option>
              </select>
            </div>

            <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="vm.register()">Register!</button>
          </form>

          <div class="text-align:center;">
               <h3 class="text-align:center;">Coming Soon!</h3>
          </div>
          
        </div>

        <div class="col-lg-3 ml-auto">
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </footer>

  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Superior Court of California, County of Monterey </small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- AngularJS -->
  <script src="vendor/angular/lodash.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular/restangular.js"></script>
  <script src="js/app.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

</body>

</html>
